* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1F2937;
  color: #F9FAF8;
}

img{
  border-radius: 0.5rem;
}

/* 
  Header styling
*/

@media screen and (max-width: 768px) {
  header .header-links ul{
    display: flex;
    flex-direction: column;
  }

  .hero-element {
    display: flex;
    flex-direction: column;
  }

  .hero-image img {
    height: 100%;
    width: 100%;
  }

  .information-element ul{
    display: flex;
    flex-direction: column;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vh 0;
}

header .header-logo {
  font-size: 24px;
}

header .header-links ul {
  list-style-type: none;
  display: flex;
}

header .header-links ul li a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  padding: 1vw;
}

/* 
  Footer styling
*/

html {
  scroll-behavior: smooth;
}

footer {
  display: inline;
  padding: 4vh 0;
}

.footer-element {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0vw 8vw;
  padding: 4vh 8vw;
}

.footer-element>a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/* 
  Hero element styling for Home
*/

.hero-element {
  display: flex;
  justify-content: center;
  gap: 10vh;
  padding: 13vh 10vw;
}

.hero-text{
  flex-wrap: wrap;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
  padding: 3vh 0;
}

.hero-text button {
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 1vh 3vw;
  border: 0;
  border-radius: 1vh;
  align-self: center;
}

.hero-text button:hover {
  background-color: #0261fc;
}

/* 
  Information element styling for Home
*/

.information-element {
  background-color: #F9FAF8;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8vh 0 8vh 0;
  width: 100%;
}

.information-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  padding-bottom: 6vh;
}

.information-element ul {
  display: flex;
}

.information-element ul li {
  padding: 2vw;
}

.information-element ul li figure img{
  border: 3px solid;
  border-radius: 0.5rem;
  border-color: #3882F6;
}

.information-element ul li figure figcaption {
  text-align: center;
  color: #1F2937;
  margin-top: 1vh;
}

/* 
  Quote element styling for Home
*/

.home {
  display: flex;
  flex-direction: column;
  padding: 8vh 10vw;
}

.home .quote-text {
  align-self: center;
}

.home .quote-author {
  align-self:flex-end;
}

/* 
  Call to action styling for Home
*/

.call-to-action-element {
  background-color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  padding: 8vh 0;
}

.call-to-action-container {
  background-color: #3882F6;
  padding: 6vh 8vw;
  display: flex;
  gap: 23vw;
  border-radius: 0.5rem;
}

.call-to-action-button {
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 1vh 3vw;
  border: 2;
  border-color: #F9FAF8;
  border-radius: 0.5rem;
  border-style:solid;
}

.call-to-action-button:hover {
  background-color: #0261fc;
}

label, input {
  display: block;
}

input {
  height: 4vh;
}

.quote-element {
  background-color: #E5E7EB;
}

.quote-container {
  padding: 5vh;
  gap: 10vh;
  padding: 10vh 20vw;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937
}

.quote-author {
  color: #1F2937;
  font-weight: bolder;
  text-align: right;
}

/*
Classes for the "Contact Us" section
*/

.about-stack {
  display: flex;
  justify-content: space-around;
  padding: 6vh 12vw;
  gap: 3vw;
}

.about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4vw;
}

.card-info>p {
  max-width: 30vw;
}

.section-title {
  padding: 8vh 3vw;
  background-color: #F9FAF8;
  color: #1F2937;
  align-self: stretch;
  text-align: center;
}

.contact-us, .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 8vh 12vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.contact-information {
  display: flex;
  justify-content: space-between;
  gap: 4vh;
}

.form-input {
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.form-input {
  width: 44vh;
}

.contact-form>.form-field>.form-input {
  width: 100vh;
}

.contact-message>.form-input {
  height: 30vh;
  width: 100vh;
}

.contact-button {
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 1.5vh 2vw;
  border: 0;
  border-radius: 0.5rem;
  align-self: center;
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 13vh 0vw;
}

.card {
  display: flex;
  align-items: center;
  gap: 3vh;
  padding: 4vh 2vw 4vh 7vw;
  border: 1px solid #F9FAF8;
  border-radius: 10px;
}

/*Classes for the blog section*/

.blog-post {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3vh 8vw;
}

.blog-image {
  width: 30vw;
  height: auto;
}

.blog-content {
  color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 5vh 4vw 5vh 10vw;
  gap: 3vh;
}

.blog-post.dark{
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  flex-direction: row-reverse;
  padding: 3vh 9vw;
}

.blog-content h2 {
  font-size: 32px;
  font-weight: bolder;
  color: #3882F6;
}


.blog-post.dark h2 {
  color: #F9FAF8;
}

.blog-content.dark {
  color: #E5E7EB;
  padding: 5vh 10vw 5vh 4vw;
}

.blog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  background-color: #F9FAF8;
  color:#1F2937;
  padding-top: 8vh;
  padding-bottom: 6vh;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 15px;
}

.card {
  text-align: center;
  padding: 10px;
}

.card img {
  width: 100%;     
  height: 100%;    
  object-fit: cover;
  border-radius: 8px;
}
